body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15 px;
    color: #333;
    margin: 0;
    line-height: 1.6;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

.header{
    padding-top: 30px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.intro{
    display: flex;
    flex-direction: column;
    background: url(compPic.jpg) center no-repeat;
   
    justify-content: center;
    background-size: cover;

    background-image: linear-gradient(rgba(211, 211, 211, 0.658), rgba(117, 143, 182, 0.966), url(compPic.jpg));
    width: 100%;
    height: 100vh;
}

.intro__title{
    font-size: 100px;
    margin-left: 30px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: type 7s;
}
@keyframes
type{
    from{
        width: 0ch;
    }
    to{
        width: 21ch;
    }
}

nav{
    display: flex;
    justify-content: space-between;
    float: right;
    font-size: 20px;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    text-decoration: none;
    color: #15179bd7;
    transition: color 0.2s linear;
    text-transform: uppercase;
    
}

.nav__link:hover{
    color: #fce38a;
}
.nav__link::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.nav__link:hover::after{
    opacity: 1;
}

.about{
    background: url(school.jpg) center no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    background-image: linear-gradient(rgba(211, 211, 211, 0.658), rgba(117, 143, 182, 0.966)), url(school.jpg);
    width: 100%;
    height: 70vh;
    position: relative;
    text-align: center;
}
.about__title{
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding-top: 30px;
}
.about__text{
    position: absolute;
    width: 100%;
    max-width: 300px;
    top: 20%;
    left: 40%;

}

.school{
    background: url(school.jpg) center no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    background-image: linear-gradient(rgba(211, 211, 211, 0.658), rgba(117, 143, 182, 0.966)), url(school.jpg);
    width: 100%;
    height: 70vh;
    text-align: center;
    padding-top: 30px;
    margin-top: 0;
   position: relative;
}

.school__title{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}

.school__text{
    position: absolute;
   
    left: 36.9%;
    top: 20%;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.projects{
    background: url(coding2.jpg) center no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    background-image: linear-gradient(rgba(211, 211, 211, 0.658), rgba(117, 143, 182, 0.966)), url(coding2.jpg);
    width: 100%;
    height: 70vh;
    margin-top: 0;
    padding-top: 30px;
    color: rgb(0, 0, 0);
}
.projects__title{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    font-size: 35px;
    text-transform: uppercase;
}

.projects__inner{
    width: 100%;
    max-width: 950px;
    margin: 50px auto 0;
}

.project__item{
    margin-bottom: 15px;
}

.skills{
    margin-top: 0;
    padding-top: 30px;
    width: 100%;
    max-width: 950 px;
    background: url(skills.jpg) center no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    background-image: linear-gradient(rgba(211, 211, 211, 0.658), rgba(117, 143, 182, 0.966)), url(skills.jpg);
    color: rgb(0, 0, 0);
    height: 70vh;
}

.skills__title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.skills__item1{
    margin-left: 29.7%;
    padding: 20px;
   border-bottom: 4px solid rgb(221, 200, 12);
    width: 100%;
    max-width: 600px;
    position: relative;
}

.skills__item1::after{
    content: "";
    width: 70%;
    height: 3px;
    position: absolute;
    bottom:-3px;
    left:0;
    z-index: 1;
    
    background-color: brown;
}

.skills__item2{
    margin-left: 29.7%;
    padding: 20px;
   border-bottom: 4px solid rgb(221, 200, 12);
    width: 100%;
    max-width: 600px;
    position: relative;
}

.skills__item2::after{
    content: "";
    width: 60%;
    height: 3px;
    position: absolute;
    bottom:-3px;
    left:0;
    z-index: 1;
    
    background-color: brown;
}
.skills__item3{
    margin-left: 29.7%;
    padding: 20px;
   border-bottom: 4px solid rgb(221, 200, 12);
    width: 100%;
    max-width: 600px;
    position: relative;
}

.skills__item3::after{
    content: "";
    width: 55%;
    height: 3px;
    position: absolute;
    bottom:-3px;
    left:0;
    z-index: 1;
    
    background-color: brown;
}

.skills__item4{
    margin-left: 29.7%;
    padding: 20px;
   border-bottom: 4px solid rgb(221, 200, 12);
    width: 100%;
    max-width: 600px;
    position: relative;
}

.skills__item4::after{
    content: "";
    width: 45%;
    height: 3px;
    position: absolute;
    bottom:-3px;
    left:0;
    z-index: 1;
    
    background-color: brown;
}

.skills__item5{
    margin-left: 29.7%;
    padding: 20px;
   border-bottom: 4px solid rgb(221, 200, 12);
    width: 100%;
    max-width: 600px;
    position: relative;
}

.skills__item5::after{
    content: "";
    width: 45%;
    height: 3px;
    position: absolute;
    bottom:-3px;
    left:0;
    z-index: 1;
    
    background-color: brown;
}

.footer{
    width: 100%;
    overflow: hidden;
    background-color: #28282c;
    color:rgb(22, 21, 21);
}

.footer__inner{
    display: flex;
    justify-content: center;
    margin: 30px auto;
    width: 900px;
    height: 100%;

}

.footer__item{
    margin-bottom: 7px;
}

.footer__bottom{
    vertical-align: top;
    text-align: center;
    right: 50%;
    margin-bottom: 30px;
}

.footer__text{
    display:block;
    text-align: center;
}

.copyright{
    color: rgb(22, 21, 21);
    text-decoration: none;
    transition: color 0.2s linear;
}
